<!-- <div class="position-fixed bottom-0 end-">
  <p>© All Rights Reserved</p>
  <p>--- Built by Shanmukh</p>
</div> -->

<div class="mt-5">
  <div class="card text-center position-fixed bottom-0 w-100">
    <div class="card-footer text-body-secondary">
      <p class="my-0">© All Rights Reserved ~ Built by Shanmukh</p>
    </div>
  </div>
</div>
