<nav class="navbar bg-body-tertiary mb-4">
  <div class="container-fluid">
    <a class="navbar-brand fs-3" href="/">
      <i class="bi bi-bug-fill"></i></img>
      Issue Tracker
    </a>
  </div>
</nav>